/* Estilos para el pie de página */
footer {
    width: 100%; /* Ocupa todo el ancho */
    height: auto;
    background-color: #000000; /* Fondo oscuro para el pie de página */
    color: #000000; /* Texto blanco */
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    height: auto; /* Ajusta la altura si lo necesitas */
}

.footer-content {
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
}

.footer-content a {
    text-decoration: none;
    color: #efe102; /* Color del texto */
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.instagram-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
}

.eslogan {
    font-style: italic;
    color: #efe102;
    text-align: center;
    margin-top: 10px;
}

.instagram-logo {
    max-width: 50px; /* Ajusta el tamaño de acuerdo a tus preferencias */
    height: auto;
    margin-bottom: 5px;
    align-items: center;
}
.footer-logo {
    margin-top: 40px;
    width: 250px; /* Tamaño máximo de la imagen */
    height: auto; /* Ajusta la altura automáticamente manteniendo la proporción */
    margin-bottom: 20px; /* Espaciado inferior */
    padding: 0px 20px; /* Espaciado interno */
  
}
